@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    background-color: #24252A;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #edf0f1;
}

body {
    font-family: 'Raleway', sans-serif;
}

li, a {
    color: #edf0f1;
    font-weight: bold;
}

li, a, button {
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

section {
    user-select: none;
    min-height: 400px;
    height: 100%; 
    max-width: 900px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    position: relative;
    border-radius: 1rem;
    background-color: #f1f5f8;
}

.container {
    font-family: 'Press Start 2P', cursive;
    padding: 0px 20px; 
    border-radius: 1rem;
    max-width: 310px;
    height: 70px;
    font-weight: bolder;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    right: 0; 
    left: 0; 
    top: 0; 
    bottom: 0;
    position: absolute;
}

h3 {

    margin-top: 40px; 
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

.h3-text {
    color: red;
}